body {
    background-color: #FBFEF9;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
}

/*LINKS

a {
    text-decoration:none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #FDB833;
}
*/

/*CARD*/

#card {
    height: 80vh;
    width: 80vw;
    border: 3px solid #1789FC;
    border-right: none;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 75px;
    padding-left: 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


/*FIRST COLUMN*/
.title {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    width: 45%;
    box-sizing: border-box;
    padding-right: 75px;
}

h1 {
    font-size: 55px;
    line-height: 55px;
    color: #1789FC;
}


h2 {
    font-size: 30px;
    font-weight: 400;
    margin:0;
}

#about {
    /*background-color: #1789FC;*/
    color: black;
}

#about button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    background-color: #DE9502;
    color: white;
    border: none;
    margin: 15px;
    margin-top: 30px;
    padding: 5px 15px;
}

#about button:hover {
    background-color: white;
    color: #DE9502;
}

p {
    font-size: 16px;
    line-height: 15px;
    font-weight: 100;
    margin: 0;
}

/*SECOND COLUMN*/
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15px;
}

.skills-icons {
    /*background-color: #1789FC;*/
    color: black;
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.skills-icons div {
    margin: 10px;
    width: 40%;
}

#contact {
    /*background-color: #1789FC;*/
    color: black;
}

#contactlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-right:15px;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #1789FC;
}

i {
    font-size: 30px;
    padding: 0 15px;
}

/*THIRD COLUMN*/

img {
    height: 79.2vh;
    background-color: #1789FC;
}
